controller.helix.cluster.name={{ controller_helix_cluster_name }}
controller.port={{ controller_port }}
controller.vip.port={{ controller_port }}
controller.host={{ hostvars[inventory_hostname]['ansible_env'].SSH_CONNECTION.split(' ')[2] }}
controller.vip.host={{ hostvars[inventory_hostname]['ansible_env'].SSH_CONNECTION.split(' ')[2] }}
controller.data.dir={{ controller_data_dir }}
controller.zk.str={{ zookeeper_address }}:{{ zookeeper_port }}
pinot.set.instance.id.to.hostname=true
controller.tenant.isolation.enable={{ controller_tenant_isolation_enable }}

controller.allow.hlc.tables=false
controller.enable.split.commit=true
controller.realtime.segment.deepStoreUploadRetryEnabled=true

# Create users "admin" and "user". Keep in mind we're not enforcing any ACLs yet.
controller.admin.access.control.principals=admin,user
# Set the user's password to "secret" and allow "READ" only
controller.admin.access.control.principals.user.password=secret
controller.admin.access.control.principals.user.permissions=READ
# Set the admin's password to "verysecret"
controller.admin.access.control.principals.admin.password=verysecret
controller.segment.fetcher.auth.token=Basic YWRtaW46dmVyeXNlY3JldA
controller.admin.access.control.factory.class=org.apache.pinot.controller.api.access.BasicAuthAccessControlFactory